<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đang kết nối hệ thống...</title>
    <link rel="stylesheet" href="../../styles/load/khoi_dong2.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/dshgtuy8f/image/upload/v1771402917/main_logo_2_bkgj5f.png"
    />
  </head>
  <body>
    <div class="gateway-container">
      <div class="loader-box">
        <div class="logo">SYSTEM</div>
        <div class="line-loader">
          <div id="progress"></div>
        </div>
        <p id="status">INITIALIZING CONNECTION...</p>
        <p class="sub-status">
          Vui lòng đợi khoảng 30s để Server Render khởi động...
        </p>
      </div>
    </div>

    <script src="../../javascript/load/khoi_dong2.js"></script>
  </body>
</html>
